/* =========================
   GLOBAL STYLES
========================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    background: #8B0000;
    color: white;
}

::-moz-selection {
    background: #8B0000;
    color: white;
}

html,
body {

    width: 100%;
    min-height: 100%;

    overflow-x: hidden;

    font-family: 'Poppins', sans-serif;

    background:
        linear-gradient(
            270deg,
            #9ea2a1,
            #d9d9d9,
            #797979,
            #c7cdcc
        );

    background-size: 400% 400%;

    animation:
        gradient 12s ease infinite;
}


@keyframes gradient {

    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


/* =========================
   HERO SECTION
========================= */

.hero-section {

    position: relative;

    width: 100%;

    height: 100vh;

    overflow: hidden;
}

.hero-content button,
.hero-content a {
    pointer-events: auto;
}

/* =========================
   NAVBAR
========================= */

.navbar {

    position: fixed;

    top: 0;
    left: 0;

    width: 100%;

    padding: 18px 45px;

    display: flex;

    justify-content: space-between;

    align-items: center;

    z-index: 999;

    backdrop-filter: blur(12px);

    background:
        rgba(255,255,255,0.08);
}


.logo {

    display: flex;

    align-items: center;

    gap: 12px;

    cursor: pointer;
}


.logo-line {

    width: 4px;

    height: 34px;

    background: #036825;

    border-radius: 10px;

    transition: 0.3s;
}


.logo h1 {

    position: relative;

    color: white;

    font-size: 22px;

    font-weight: 700;

    transition: 0.3s;
}


/* HOVER */

.logo:hover h1 {

    color: #8c0000;
}


.logo:hover .logo-line {

    background: #ffffff;
}


/* UNDERLINE */

.logo h1::after {

    content: "";

    position: absolute;

    left: 0;
    bottom: -6px;

    width: 100%;

    height: 3px;

    background: #217a03;

    transform: scaleX(0);

    transform-origin: left;

    transition: transform 0.35s ease;
}


.logo:hover h1::after {

    transform: scaleX(1);
}
/* =========================
   NAV LINKS
========================= */

.nav-links {

    display: flex;

    gap: 40px;
}


.nav-links a {

    text-decoration: none;

    color: white;

    font-size: 18px;

    position: relative;

    padding-bottom: 10px;

    transition: 0.3s;
}


/* RED LINE */

.nav-links a::after {

    content: "";

    position: absolute;

    left: 0;
    bottom: 0;

    width: 100%;
    height: 3px;

    background: #ffffff;

    transform: scaleX(0);

    transform-origin: left;

    transition: transform 0.35s ease;
}


/* GREEN LINE */

.nav-links a::before {

    content: "";

    position: absolute;

    left: 0;
    bottom: -5px;

    width: 100%;
    height: 3px;

    background: #00800b;

    transform: scaleX(0);

    transform-origin: left;

    transition: transform 0.45s ease;
}


.nav-links a:hover::after,
.nav-links a:hover::before {

    transform: scaleX(1);
}


.nav-links a:hover {

    color: #b80000;
}


/* =========================
   NAV ACTIONS
========================= */

.nav-actions {

    display: flex;

    align-items: center;

    gap: 15px;
}


.location-btn {

    padding: 10px 18px;

    border: none;

    border-radius: 10px;

    background: #8B0000;

    color: white;

    font-size: 14px;

    cursor: pointer;

    transition: 0.3s;
}


.location-btn:hover {

    background: #5c0000;
}


.search-btn {

    width: 42px;

    height: 42px;

    border-radius: 50%;

    border: none;

    background:
        rgba(255,255,255,0.15);

    color: white;

    cursor: pointer;

    backdrop-filter: blur(10px);
}


/* =========================
   HERO CONTENT
========================= */

.hero-content {

    position: absolute;

    top: 52%;

    left: 60px;

    transform: translateY(-50%);

    max-width: 600px;

    pointer-events: none;
}


.hero-content h1,
.hero-content p,
.hero-content button,
.hero-content a {

    pointer-events: auto;
}


.hero-content h1 {

    font-size: 78px;

    line-height: 1.1;

    color: #4d7a42;

    font-weight: 800;

    margin-bottom: 28px;
}



.hero-content p {

    font-size: 22px;

    line-height: 1.6;

    color:
        rgba(255,255,255,0.85);

    margin-bottom: 35px;
}


.hero-content button {

    padding: 18px 42px;

    border: none;

    border-radius: 18px;

    background: #8B0000;

    color: white;

    font-size: 18px;

    cursor: pointer;

    transition: 0.3s;

    box-shadow:
        0 8px 20px rgba(0,0,0,0.25);
}


.hero-content button:hover {

    transform:
        translateY(-3px)
        scale(1.03);

    background: #5c0000;
}

/* =========================
   HERO CONTENT SCROLL EFFECT
========================= */

.hero-content {

    position: relative;

    top: 52%;

    left: 60px;

    transform: translateY(-50%);

    z-index:  9999;

    max-width: 600px;

    transition:
        opacity 0.25s ease,
        transform 0.25s ease;
}



/* =========================
   MAP
========================= */

#map {

    position: absolute;

    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    z-index: 1;
}


.leaflet-container {

    background: transparent !important;
}


.leaflet-interactive {

    filter:
        drop-shadow(
            0 0 6px rgba(255,255,255,0.08)
        );
}

/* =========================
   MUNICIPALITY CARD
========================= */

#municipality-card {

    position: fixed;

    top: 120px;

    right: 300px;

    width: 320px;

    padding: 24px;

    border-radius: 24px;

    background:
        rgba(255, 255, 255, 0.5);

    backdrop-filter: blur(20px);

    border:
        1px solid rgba(255,255,255,0.12);

    color: white;

    z-index: 999;

    opacity: 0;

    visibility: hidden;

    transform:
        translateY(20px);

    transition:
        opacity 0.35s ease,
        transform 0.35s ease,
        visibility 0.35s;
}


/* SHOW CARD */

#municipality-card.active {

    opacity: 1;

    visibility: visible;

    transform:
        translateY(0);
}


#municipality-name {

    font-size: 28px;

    margin-bottom: 20px;

    color: rgb(162, 0, 0);
}


.municipality-info {

    display: flex;

    flex-direction: column;

    gap: 14px;
}


.municipality-info p {

    font-size: 17px;

    color:
        rgba(31, 31, 31, 0.82);
}


.municipality-info span {

    color: #4d7a42;

    font-weight: 700;
}

/* =========================
    CHARTS 
========================= */
.charts-section h1 {
    font-size: 72px;
    color: rgb(64, 119, 75);
    margin-bottom: 12px;
    font-weight: 800;
    letter-spacing: -3px;
    text-transform: uppercase;
}

.charts-section h2 {
    font-size: 22px;
    color: #535353;
    margin-bottom: 70px;
    font-weight: 300;
    letter-spacing: 1px;
}


.charts-grid {

    width: 100%;

    display: grid;

    grid-template-columns:
        repeat(auto-fit, minmax(500px, 1fr));

    gap: 40px;

    padding: 80px;
}


.chart-card {

    background:
        rgba(255,255,255,0.05);

    border:
        1px solid rgba(255,255,255,0.08);

    backdrop-filter: blur(16px);

    border-radius: 24px;

    padding: 30px;

    min-height: 500px;
}


.chart-card h2 {

    color: white;

    margin-bottom: 20px;

    font-size: 24px;
}


.charts-section {
    width: 100%;
    padding: 80px;
}


.chart-card {
    background: rgb(51, 51, 51);
    border: 1px solid rgba(255,255,255,0.08);
    backdrop-filter: blur(14px);
    border-radius: 24px;
    padding: 25px;
    min-height: 650px;
    min-width: 0;
    overflow: hidden;
}

.chart-card h2 {
    color: rgb(64, 119, 75);
    margin-bottom: 20px;
    font-size: 24px;
}

.chart-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-bottom: 60px;
    align-items: stretch;
}


.js-plotly-plot,
.plot-container {
    width: 100% !important;
}


/* =========================
   FOOTER
========================= */

.footer {

    position: relative;

    width: 100%;

    min-height: 180px;

    padding: 60px 80px;

    display: flex;

    justify-content: center;

    align-items: center;

    background:
        rgba(0,0,0,0.25);

    backdrop-filter: blur(12px);

    border-top:
        1px solid rgba(255,255,255,0.08);

    color: white;

    z-index: 50;
}


.footer-right {

    text-align: center;
}


.footer-right p {

    line-height: 1.7;

    margin-bottom: 14px;

    color:
        rgba(255,255,255,0.75);
}


.footer-right span {

    color:
        rgba(255,255,255,0.45);

    font-size: 14px;
}


.divider {

    width: 100%;

    height: 2px;

    background:
        rgba(255, 253, 253, 0.2);

    margin: 40px 0;
}


.search-box {

    position: relative;

    width: 64px;

    height: 64px;

    border: 4px solid #ffffff;

    border-radius: 999px;

    overflow: hidden;

    transition: 0.5s ease;

    background: rgba(255,255,255,0.06);
}


/* INPUT */

.search-box input {

    width: 100%;

    height: 100%;

    border: none;

    outline: none;

    background: transparent;

    color: rgb(146, 0, 0);

    font-size: 18px;

    padding: 0 70px 0 24px;

    opacity: 0;

    transition: 0.4s ease;

    cursor: pointer;
}


/* OPEN */

.search-box:focus-within {

    width: 280px;
}


/* SHOW TEXT */

.search-box:focus-within input {

    opacity: 1;

    cursor: text;
}


/* SEARCH ICON */

.search-box button {

    position: absolute;

    top: 50%;

    right: 18px;

    width: 22px;

    height: 22px;

    border: 4px solid rgb(143, 0, 0);

    border-radius: 50%;

    background: transparent;

    transform: translateY(-50%) rotate(-45deg);

    transition: 0.4s ease;

    pointer-events: none;
}


/* HANDLE */

.search-box button::after {

    content: "";

    position: absolute;

    width: 4px;

    height: 15px;

    background: rgb(158, 0, 0);

    right: 5px;

    bottom: -15px;

    border-radius: 10px;
}


/* OPEN ANIMATION */

.search-box:focus-within button {

    transform: translateY(-50%) rotate(0deg);
}


/* HOVER */

.search-box:hover {

    border-color: #7a0303;
}


.search-box:hover button {

    border-color: #7a0303;
}


.search-box:hover button::after {

    background: #820000;
}